@tailwind base;
@tailwind components;
@tailwind utilities;

/* container */
/* @import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */

@layer utilities {
    .secondary {
        color: #ECEDEE;
    }
}


/* animation for pending */
.formkit-message {
    color: red;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .container .group {
  @apply w-full my-6 rounded-md bg-black dark:bg-blue-50 border border-black pt-8 relative overflow-hidden
} */

[data-invalid] .formkit-input {
    animation: myAnim 1s ease 0s 1 normal forwards;
    padding: 0.5em;
    border-color: red;
    box-shadow: 0 0 0 1px red;
    color: red !important;
}

.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #ce77fe97;
    position: relative;
    animation: s4 1s infinite linear;
}

.custom-loader:before,
.custom-loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}

.custom-loader:after {
    animation-duration: 4s;
}

@keyframes s4 {
    100% {
        transform: rotate(1turn);
    }
}

/* end animation */
[data-complete] .formkit-input {
    border-color: green;
    animation: myAnim 1s ease 0s 1 normal forwards;
    box-shadow: 0 0 0 1px green;
}

[data-complete] .formkit-inner::after {
    display: inline-block;
    animation: myAnim 1s ease 0s 1 normal forwards;
    padding: 0.5em;
    content: "looks good";
    color: green;
}

* {
    font-family: "Inter", sans-serif;
}

.formkit-input {
    @apply w-full gradientForm hover:scale-95 rounded-lg text-base px-5 py-2.5 transition-all duration-500 mt-4 text-black dark:text-[#ECEDEE]/70
}

#input_0 {
    @apply mb-5 font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#DC79FF] to-[#256BFA] w-full
}

@layer utilities {
    .gradientForm {
        @apply dark:from-[#1E1C32] dark:to-[#2B161D] bg-gradient-to-r from-[#ffe9f44a] to-[#eaf3ff80];
    }
}

@layer components {

    .gradient {
        @apply dark:from-[#1E1C32]/50 dark:to-[#2B161D]/50 bg-gradient-to-r from-[#ffe9f44a] to-[#eaf3ff80];
    }

    .gradientForm {
        @apply dark:from-[#1E1C32] dark:to-[#2B161D] bg-gradient-to-r from-[#ffe9f44a] to-[#eaf3ff80];
    }

    .formkit-actions {
        @apply w-full gradientForm hover:scale-95 rounded-lg text-base px-5 py-2.5 text-center transition-all duration-500 mt-4 text-black dark:text-[#ECEDEE]/70;
    }

    .modall {
        @apply dark:from-[#1E1C32] rounded-2xl dark:to-[#2B161D] bg-gradient-to-r from-slate-100 to-slate-300;
    }

    .pages {
        @apply transition-all bg-top bg-no-repeat bg-cover bg-[url('/img/Lightmb.svg')] dark:bg-[url('/img/Darkmb.svg')] lg:dark:bg-[url('/img/Dark-bg.svg')] lg:bg-[url('/img/BG.svg')];
    }

    .container {
        @apply max-w-3xl py-8 mx-auto;
    }

    .emoji {
        @apply dark:from-[#1E1C32]/50 dark:to-[#2B161D]/50 bg-clip-text text-transparent from-fromGradient to-toGradient;
    }

    .scrolling {
        @apply h-screen overflow-y-scroll scrollbar scrollbar-thumb-slate-300 scrollbar-track-[#ECEDEE]/40 dark:scrollbar-thumb-[#22242C] dark:scrollbar-track-[#22242C]/40 scroll-smooth;
    }
}

.rotate-enter-active,
.rotate-leave-active {
    @apply transition-all;
}

.rotate-enter-from,
.rotate-leave-to {
    @apply transition-all opacity-10 blur lg:duration-300;
}